@{
    ViewBag.Title = "AddCar";
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script>
    $(function () {

        $.get("@Url.Action("GetAllCars")", function addtotable(resp) {

            $('.Cars tr').not(':first').not(':last').remove();
            var html = '';
            var html2 = '';
            for (var i = 0; i < resp.length; i++) {
                html += '<tr>' +
                        '<td>' + resp[i].CarID +
                        '</td><td>' + resp[i].Manufacturer +
                        '</td><td>' + resp[i].CarModel +
                        '</td><td>' + resp[i].PricePerDay +
                        '</td><td>' + resp[i].PricePerLateDay +
                        '</td><td>' + resp[i].Gear +
                        '</td><td>' + resp[i].Kilometrage +
                        '</td><td>' + resp[i].LocationName +
                        '</td><td>' + resp[i].isAvailable +
                        '</td></tr>';
                html2 += '<option>' + resp[i].CarID + '</option>';
            }
            $("table tr:first").first().after(html);
            $("#carID").append(html2);
            
        });
        $.get("@Url.Action("GetAllCarTypes")", function (resp) {
            var html = '';

            for (var i = 0; i < resp.length; i++) {
                html += '<option>' + resp[i].Manufacturer + ' ' + resp[i].CarModel + '</option>';

            }
            $("#cartypeStr").append(html);

        });

        $.get("@Url.Action("GetAllLocations")", function (resp) {
            var html = '';

            for (var i = 0; i < resp.length; i++) {
                html += '<option>' + resp[i].LocationName + '</option>';

            }
            $("#LocationName").append(html);
        });

        $('#AddCar').click(function () {
            
            var dataForServer = $('form').serialize();
        
            $.post("@Url.Action("AddCar")", dataForServer, function (resp) {
                if (resp.Status == "OK") {
                    alert(resp.Status)

                } else {
                    alert(resp.Status)
                }
            });
        });
        $('#UpdateCar').click(function () {
            
            var dataForServer = $('form').serialize();
        
            $.post("@Url.Action("UpdateCar")", dataForServer, function (resp) {
                if (resp.Status == "OK") {
                    alert(resp.Status)

                } else {
                    alert(resp.Status)
                }
            });
        });
        $('#RemoveCar').click(function () {
            
            var dataForServer = $('form').serialize();
        
            $.post("@Url.Action("RemoveCar")", dataForServer, function (resp) {
                if (resp.Status == "OK") {
                    alert(resp.Status)

                } else {
                    alert(resp.Status)
                }
            });
        });
    });
        
    
    
</script>
<h2>Cars table</h2>
<div style="border:1px solid;padding:5px;">
    <div >
        <table class="cars">
            <tr>
                <th>Car Id</th>
                <th>Manufacturer</th>
                <th>Car Model</th>
                <th>Price Per Day</th>
                <th>Price per late day</th>
                <th>Gear</th>
                <th>Kilometrage</th>
                <th>Location</th>
                <th>Availability</th>
            </tr>
            
        </table>
        
    </div>
</div>
<h2>Manage Car</h2>
<div>
    <div>
        <form method="post">
            <label for="carID">CarID</label>
            <select id="carID" name="carID">
                <option disabled="disabled"> </option>
            </select><br />
            <label for="cartypeStr">Manufacturer and model: </label>
            <select id="cartypeStr" name="cartypeStr">
            <!--<label for="CarModel">Car Model:</label>
            <select id="CarModel" name="CarModel">-->
                <option disabled="disabled"></option>
            </select><br />
            <label for="Kilometrage">Kilometrage: </label>
            <input name="Kilometrage" /><br />
            <label for="LocationName">Location: </label>
            <select id="LocationName" name="LocationName">
            <option disabled="disabled"></option></select><br />
            <label for="availability">availability: </label>
            <select id="availability" name="availability">
            <option disabled="disabled"></option>
            <option>true</option>
            <option>false</option>
            </select><br />
            <button id="AddCar" type="button">Save</button>
            <button id="UpdateCar" type="button">Update</button>
            <button id="RemoveCar" type="button">Remove</button>
        </form>
    </div>
    <div id="alertbox"></div>
    <div>
        @ViewBag.Message
    </div>
</div>

