@{
    ViewBag.Title = "AddOrder";
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script>
    $(function () {

        $.get("@Url.Action("GetAllCars")", function (resp) {

            $('#cars tr').not(':first').not(':last').remove();
            var html = '';
            for (var i = 0; i < resp.length; i++)
                html += '<tr><td>' + resp[i].u.CarID +
                        '</td><td>' + resp[i].v.Manufacturer +
                        '</td><td>' + resp[i].v.CarModel +
                        '</td><td>' + resp[i].v.PricePerDay +
                        '</td><td>' + resp[i].v.PricePerLateDay +
                        '</td><td>' + resp[i].v.Gear +
                        '</td><td>' + resp[i].u.Kilometrage +
                        '</td><td>' + resp[i].l.LocationName +
                        '</td></tr>';
            $("#cars tr:first").first().after(html);
        });
        $.get("@Url.Action("GetAllOrders")", function (resp) {

            $('#orders tr').not(':first').not(':last').remove();
            var html = '';
            for (var i = 0; i < resp.length; i++) {
                var LendDate = new Date(parseInt(resp[i].LendDate.substr(6)));
                LendDate = LendDate.getMonth() +
                         1 +
                       "/" +
           LendDate.getDate() +
                       "/" +
       LendDate.getFullYear();
                var ReturnDate = new Date(parseInt(resp[i].ReturnDate.substr(6)));
                ReturnDate = ReturnDate.getMonth() +
                         1 +
                       "/" +
           ReturnDate.getDate() +
                       "/" +
       ReturnDate.getFullYear();
                var ActualReturnDate;
                if (resp[i].ActualReturnDate != null) {
                    ActualReturnDate = new Date(parseInt(resp[i].ActualReturnDate.substr(6)));
                    ActualReturnDate = ActualReturnDate.getMonth() +
                         1 +
                       "/" +
           ActualReturnDate.getDate() +
                       "/" +
       ActualReturnDate.getFullYear();
                }
                else {
                    ActualReturnDate = "Not returned yet";
                }
                html += '<tr><td>' + resp[i].OrderID +
                        '</td><td>' + resp[i].CarID +
                        '</td><td>' + resp[i].Manufacturer +
                        '</td><td>' + resp[i].CarModel +
                        '</td><td>' + resp[i].PricePerDay +
                        '</td><td>' + resp[i].PricePerLateDay +
                        '</td><td>' + resp[i].Username +
                        '</td><td>' + LendDate +
                        '</td><td>' + ReturnDate +
                        '</td><td>' + ActualReturnDate +
                        '</td></tr>';
            }
            $("#orders tr:first").first().after(html);
        });

        $.get("@Url.Action("GetAllCars")", function (resp) {
            var html = '';

            for (var i = 0; i < resp.length; i++) {
                html += '<option>' + resp[i].v.Manufacturer + ' ' + resp[i].v.CarModel + '</option>';

            }
            $("#carStr").append(html);

        });

        $.get("@Url.Action("GetAllUsers")", function (resp) {
            var html = '';

            for (var i = 0; i < resp.length; i++) {
                html += '<option>' + resp[i].Username + '</option>';

            }
            $("#Username").append(html);
        });

        $('#ordersend').click(function () {

            var dataForServer = $('input option:selected').serialize();

            $.post("@Url.Action("InsertOrder")", dataForServer, function (resp, err) {

                if (err)
                    console.log(err);

                if (resp.Status == "OK") {
                    $('#alertbox').append("Order Added");
                    addtotable(resp);

                } else {
                    $('#alertbox').append(resp.Status.text());
                }
            });
        });
    
        //$('#Manufacturer').onChange(
        //function manufacturerOnChange() {
        ////$('#CarModel option').disabled.removeAttr();
        ////var manval=$('#Manufacturer').find('option:selected').text();
        ////load("/Admin/GetCarTypes?Manufacturer="+$('#Manufacturer').find('option:selected').text());
        ////$.get("Url.Action("GetCarTypes")",$('#Manufacturer').find('option:selected').text(),function(resp){
        //$.load("/Admin/GetCarTypes?Manufacturer="+$('#Manufacturer').find('option:selected').text()),function(resp){
        //    var html2 = '';
        //    for (var i = 0; i < resp.length; i++) {
        //        html2 += '<option value="'+resp[i].CarModel+'">' + resp[i].CarModel + '</option>';
        //    }
        //    $("#CarModel").first().append(html2);
        //}
        //}
    
    });
    

</script>
<h2>Orders table</h2>
<div style="border:1px solid;padding:5px;">
    <div>
        <table id="orders">
            <tr>
                
                <th>OrderId</th>
                <th>CarId</th>
                <th>Manufacturer</th>
                <th>Car Model</th>
                <th>Price Per Day</th>
                <th>Price per late day</th>
                <th>Username</th>
                <th>Lend Date</th>
                <th>Return Date</th>
                <th>Actual Return Date</th>
            </tr>

        </table>

    </div>
</div>
<h2>Cars table</h2>
<div style="border:1px solid;padding:5px;">
    <div>
        <table id="cars">
            <tr>
                <th>Car Id</th>
                <th>Manufacturer</th>
                <th>Car Model</th>
                <th>Price Per Day</th>
                <th>Price per late day</th>
                <th>Gear</th>
                <th>Kilometrage</th>
                <th>Location</th>
            </tr>

        </table>

    </div>
</div>
<h2>Add Order</h2>
<div>
    <div>
        <form method="post">
            <label for="carStr">Manufacturer and model: </label>
            <select id="carStr" name="carStr"></select><br />
            <!--<label for="CarModel">Car Model:</label>
            <select id="CarModel" name="CarModel">
                <option disabled="disabled">sdgs</option>
            </select><br />-->
            <label for="lenddate">Pick lend date: </label>
            <input name="lenddate" type="date"/><br />
            <label for="returndate">Pick return date: </label>
            <input name="returndate" type="date" /><br />
            <label for="Username">Username: </label>
            <select id="Username" name="Username"></select><br />
            <button id="ordersend" type="submit">Save</button>
        </form>
    </div>
    <div id="alertbox"></div>
    <div>
        @ViewBag.Message;
    </div>
</div>
